@use "../config";

.container {
  @include config.centeredContent;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  min-height: 75%;
  max-height: 75%;
}

.loadingText,
.emptyLogText {
  display: flex;
  text-align: center;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: config.$text;
}

.chatLog {
  background-color: lighten(config.$background, 5%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  overflow: auto;
  scrollbar-width: none; // Hides scrollbar on Firefox.

  &::-webkit-scrollbar {
    // Hides scrollbar on Chrome, Safari, and Opera.
    display: none;
  }
}

.chatBox {
  form {
    input {
      @include config.inputField;
      border-radius: 0;
      border-bottom-left-radius: 10px;
    }
    
    .sendButton {
      @include config.button;
      font-weight: bold;
      border-radius: 0;
      border-bottom-right-radius: 10px;
    }
  }
}
