@use "../config";

.container {
  @include config.centeredContent;

  h1 {
    color: config.$heading;
    font-size: 3rem;
  }
}

input {
  @include config.inputField;
}

.loginButton {
  @include config.button;
}

.toggleFormText {
  @include config.toggleFormText;
}
