@use "../config";

.container {
  @include config.centeredContent;

  h1 {
    color: config.$heading;
    font-size: 3rem;
  }
}

form {
  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input {
    @include config.inputField;
  }

  .errorMessage {
    font-size: 0.75rem;
    color: #dd7777;
  }
}

.loginButton {
  @include config.button;
}

.toggleFormText {
  @include config.clickableText;
}
