@use "../config";

.container {
  @include config.centeredContent;

  nav {
    @include config.navigationBar;
    justify-content: flex-start;
  }
}

.backButton {
  @include config.navigationButton;
}

.profilePicture {
  border-radius: 50%;
  font-size: 4.5rem;
  color: lighten(config.$background, 20%);
}

.username {
  font-size: 1.875rem;
  font-weight: 600;
  color: config.$text;
}

.settingsButton {
  @include config.button;
}