@use "../config";

.container {
  @include config.centeredContent;

  nav {
    @include config.navigationBar;
    justify-content: flex-start;
  }
}

.backButton {
  @include config.navigationButton;
}

.profilePicture {
  font-size: 5.25rem;
  color: config.$heading;
}

.username {
  font-size: 1.875rem;
  font-weight: 600;
}

.settingsButton {
  @include config.button;

}
