@use "../config";

.container {
  @include config.centeredContent;

  h2 {
    color: config.$button;
    font-size: 2.25rem;
  }
}

.signupForm {
  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input {
    @include config.inputField;
  }

  .errorMessage {
    font-size: 0.75rem;
    color: config.$important;
  }
}

.signupButton {
  @include config.button;
}

.toggleFormText {
  @include config.clickableText;
}
