@use "../config";

.sentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.receivedContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin chatBubble {
  color: config.$text;
  text-align: left;
  max-width: 250px;
  padding: 6px 12px 6px 12px;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.sentBubble {
  @include chatBubble;
  background-color: config.$heading;
  margin-right: 10px;

  &:hover {
    background-color: darken(config.$heading, 5%);
  }
}

.receivedBubble {
  @include chatBubble;
  background-color: config.$contrast;
  margin-left: 10px;

  &:hover {
    background-color: darken(config.$contrast, 5%);
  }
}

@mixin timestamp {
  margin-top: 1px;
  font-size: 0.75rem;
  user-select: none;
  font-style: italic;
  color: config.$text;
}

.sentTimestamp {
  @include timestamp;
  margin-right: 10px;
}

.receivedTimestamp {
  @include timestamp;
  margin-left: 10px;
}
