@use "../config";

.sentContainer {
  display: flex;
  justify-content: flex-end;
}

.receivedContainer {
  display: flex;
  justify-content: flex-start;
}

.sentBubble {
  background-color: config.$heading;
  color: #ffffff;
  text-align: left;
  max-width: 250px;
  padding: 6px 12px 6px 12px;
  border-radius: 25px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow: hidden;
}

.receivedBubble {
  background-color: config.$contrast;
  color: #ffffff;
  text-align: left;
  max-width: 250px;
  padding: 6px 12px 6px 12px;
  border-radius: 25px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow: hidden;
}
