@use "../config";

.container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profileButton {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: darken(config.$background, 10%);
  font-size: 1.875rem;

  &:hover {
    color: darken(config.$background, 15%);
  }

  &:active {
    color: darken(config.$background, 15%);
  }
}
