@use "../config";

.container {
  display: flex;
  text-align: center;
  font-size: 0.875rem;

  p {
    margin-left: 10px;
    margin-right: 10px;

    &::before {
      content: "\2713";
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
