$background: #e0e2db;
$button: #ffffff;
$button-background: #ddc077;
$contrast: #889696;
$heading: #5f7470;

@mixin centeredForm {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin toggleFormText {
  border: none;
  background-color: transparent;
  color: $contrast;
  font-size: 1.125rem;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
    font-weight: 600;
  }
}

@mixin inputField {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  border: none;

  &:focus {
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

@mixin button {
  border: none;
  color: $button;
  background-color: $button-background;
  font-size: 1.5rem;
  padding: 2px 20px 2px 20px;

  &:hover {
    cursor: pointer;
    background-color: darken($button-background, 5%);
  }
}
