$background: #1b1321;
$text: #ffffff;
$button-background: #ffa500;
$contrast: #747474;
$heading: #4f3b63;
$important: #dd7777;

@mixin centeredContent {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin clickableText {
  border: none;
  background-color: transparent;
  color: $important;
  font-size: 1.125rem;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
    font-weight: 600;
  }
}

@mixin inputField {
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

@mixin button {
  border: none;
  border-radius: 5px;
  color: $text;
  background-color: $button-background;
  font-size: 1.5rem;
  padding: 1px 20px 1px 20px;

  &:hover {
    cursor: pointer;
    background-color: darken($button-background, 5%);
  }

  &:disabled {
    color: rgba($text, 0.4);
    background-color: rgba($button-background, 0.4);
    cursor: not-allowed;
  }
}

@mixin navigationBar {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin navigationButton {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: lighten($background, 20%);
  font-size: 1.875rem;

  &:hover {
    color: lighten($background, 15%);
  }

  &:active {
    color: lighten($background, 15%);
  }
}
